@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/AmericanTypewriter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-american {
  font-family: "MyFont", sans-serif;
}
.font-anec{
  font-family: "Anek Malayalam", sans-serif;
}
.font-satoshi {
  font-family: "Satoshi", sans-serif;
}